/* General styles */
body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        color: #333;
    }

    .home {
        background-image: url(thumbnails/acrylic-texture-background-ocean-wallpaper.jpg);
        background-size: cover;  
        background-position: center; 
        height:1200px;
    }

    /* Header section */
    .header {
        align-items: center;
        padding: 20px;
        display: flex;
        display: grid;
        grid-template-columns: 1150px 1fr;
    }
    .brand-name {
        text-decoration: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        transition: color 0.35s;
        font-size: 35px;
        cursor: pointer;
        margin: auto;
    }
    .brand-name:hover {
        color: #1a4747;
    }
    /* Navigation */
    .navigator {
        display: flex;
        display: grid;
        grid-template-columns: 140px 170px 170px 170px;
    }

    .button-heading {
        margin-top: 25px;
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        background-color: transparent;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s, opacity 0.3s, font-size 0.3s;
    }

    .button-heading:hover {
        color: #c2c7c7;
    }

    /* hero section */
    .hero {
        color: #ffffff;
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center; 
        margin-left: 150px;
        margin-top: 250px;
    }
    .hero-h1 {
        font-size: 80px;
        margin: 0;
        color: #ffffff;
    }
    .hero-text {
        font-size: 25px;
        margin: 0;
    }
    
    .hero-description {
        width: 900px;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
        
    .learn-more-btn {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 20px 30px;
        margin-top: 80px;
        font-size: 15px;
        width: 150px;
        font-weight: bold;
        color: #fff;
        border-style: solid;
        border-radius: 20px;
        transition: background-color 0.5s;
        letter-spacing: 2px;
        cursor: pointer;
    }


    /*Product section*/
    .product {
        display: grid;
        grid-template-rows: 650px 500px 500px;
        height: 1700px;
        background-color: white;
    }
    .product-introduction-div {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
    }
    .product-introduction {
        display: flex;
        width: 800px;;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
        height: 450px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    .product1 {
        display: grid;
        grid-template-columns: 1fr 1000px ;
    }
    .product2{
        display: grid;
        grid-template-columns: 1fr 1000px ;
    }
    .product-description-1, .product-description-2 {
        font-size: 20px;
        color: #333;
        align-items: center;
        width: 700px;
    }
    .product-image1 img, .product-image2 img {
        margin-top: 50px;
        margin-left: 120px;
        border-radius: 10px;
        height: 400px;
        width: 700px;
    }
    .product-description-with-title{
        margin-top: 80px;
        display: grid;
    }

    /* Features Section */
    .features {
        height: 800px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        background-image: url(thumbnails/);
    }

    /* About us Section */
    .about-us {
        height: 800px;
    }
