/* General styles */
body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        background-color: whitesmoke;
    }

    .home {
        background-size: cover;  
        background-position: center; 
        background-repeat: none;
        height:1100px;
        border-bottom: 2px solid black;
    }

    /* Header section */
    .header {
        background-color: rgb(165, 36, 36);
        align-items: center;
        padding: 20px;
        display: flex;
        display: grid;
        height: 70px;
        grid-template-columns: 1150px 1fr;
    }
    .brand-name {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        transition: color 0.35s;
        font-size: 40px;
        cursor: pointer;
        margin-left: 120px;
    }
    /* Navigation */
    .navigator {
        display: flex;
        display: grid;
        grid-template-columns: 170px 170px 170px 170px;
    }

    .button-heading {
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(255, 255, 255);
        background-color: transparent;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s, opacity 0.3s;
    }


    /* hero section */
    .hero {
        color: rgb(0, 0, 0);
        display: flex;
        /*display: grid;*/
        grid-template-columns: 1fr;
        justify-content: center; 
        margin-left: 150px;
        margin-top: 250px;
    }
    .column-hero{
        flex-basis: 50%;
        margin: 0px;
    }
    .logo{
        width: 800px;
        text-align: center;
        margin-top: 0;
    }
    .hero-h1 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
        width: 800px;
        margin: 0;
        color: rgb(53, 53, 53);
        /*color: rgb(21, 122, 117);*/
    }
    .hero-text {
        font-size: 25px;
        margin: 0;
    }
    
    .hero-description {
        width: 900px;
        font-size: 22px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
        
    .learn-more-btn {
        color: black;
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 20px 30px;
        margin-top: 50px;
        font-size: 15px;
        width: 150px;
        font-weight: bold;
        border-style: solid;
        border-radius: 20px;
        transition: background-color 0.5s;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .learn-more-btn:hover {
        background-color: rgb(165, 36, 36);
        border-color: black;
        color: white;

    }


    /*Product section*/
    .product-section {
        display: grid;
        border-bottom: 3px solid #8b8b8b;
        /*height: 1700px;*/
        height: auto;
        background-image: url(./thumbnails/bg-dualect.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .row{
        margin: 100px;
        margin-left: 80px;
        display: flex;
        flex-basis: 50%;
    }
    .column1-product{
        flex-basis: 40%;
        /*border: solid;*/
    }
    .column2-product{
        flex-basis: 55%;
        /*border: solid;*/
    }
    
    .h1-product{
        text-align: center;
        color: rgb(226, 226, 226);
        font-size: 45px;
        font-family:'Lucida Sans';
        margin-bottom: 80px;
    }
    .product-description{
        text-align: justify;
        text-indent: 50px;
        font-size: 25px;
        color: rgb(226, 226, 226);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 50px 0px;
    }
    .dualect-bg{
        width: 400px;
        margin: auto;
        margin-right: 100px;
    }


    /* Features Section */
    .features {
        /*height: 2500px;*/
        height: auto;
        border-bottom: 3px solid #8b8b8b;
        padding: 20px;
        display: flex;
        flex-direction: column;
        
    }
    .features-div{
    }
    .h1-features{
        text-align: center;
        color:rgb(165, 36, 36);
        font-size: 80px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .text-features{
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
    }
    .out-box{
        margin-top: 10px;
    }
    .column-boxes1{
        width: 1500px;
        margin: 30px auto;
        display: flex;
        justify-content: space-evenly;
    }
    .column-boxes2{
        width: 1000px;
        margin: 30px auto;
        display: flex;
        justify-content: space-evenly;
    }
    .box{
        background-color:rgb(133, 46, 46);
        width: 400px;
        height: 300px;
        background-size: cover;
        margin: 20px;
    }
    .box-inside{
        width: 400px;
        height: 300px;
        background-size: cover;
        margin: 50px auto;
    
    }
    .hr-features{
        width: 380px;
    }
    .p-features{
        margin: 10px;
        font-size: 20px;
        text-align: center;
        color: rgb(226, 226, 226);
    }
    .numbers, .h2-features{
        text-align: center;
        color: aliceblue;
    }
    .h2-features{
        margin: auto;
        font-size: 30px;
    }
    .numbers{
        font-size: 45px;
        margin: auto;
        
    }
    /* About us Section */
    .about-us {
        height: 2200px;
    }
    .about-us-div {
        width: 1000px;
        margin:  auto;
        margin-bottom: 100px;
        padding: 20px;
        text-align: center;
        justify-content: center;
        
    }
    .h1-about {
        font-size: 80px;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    
    .about-text {
        margin: auto;
        font-size: 23px;
        
    }

    .grid-icons {
        display: flex;
        display: grid;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        grid-template-columns: 400px 400px 400px;
    }
    .column-about{
        display: flex;
    }

    .profile {
        display: flex;
        display: grid;
        text-align: center;
        justify-content: center;
        margin: 50px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .profile:last-child {
        grid-column: 2;
    }

    .icon img {
        width: 300px;;
        height: 300px;
        border-radius: 200px;
    }
    .name {
        display: flex;
        margin-top: 10px;
        width: 300px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;

    }
    .role{
        height: 40px;
        font-size: 20px;  
        margin-top: 0px;
        background-color: rgb(190, 190, 190);
        border-radius: 10px;

        padding-top: 20px;
        text-align: center;
    }